
* {
    margin: 0;
}

html {
    font-size: 18px;
}

body, a {
    font-family: 'Roboto';
    color: white;
}



.header {
   /* background-image: url('./images/clouds-photo-3783385.jpg'); */
    background-color: #5e6472;
    background-size: cover;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(32, 32, 32) 1px;
    background-image: url('./images/gradient.jpg');
}

.logo-text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Electrolize';
}

.logo-text a {
    font-family: 'Zen Dots', cursive;
    border: none;
}

.flex-item {
    padding: 2rem;
    
}

.navi {
    display: flex;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.navi a {
    border: 1px solid white;
    padding: .4rem;
    border-radius: 50px;
    
}

.navi a:hover {
    background-color: #a71e34;
    color: white;
    transition: all 600ms ease-in;
}

#hamburger {
    display: none;
}

.hero {
    /*padding: 2rem 5rem;
    overflow: hidden;
    background-image: url(./images/sf\ city.jpg);
    background-size: cover; */
    border-bottom: 1px solid black; 
    
}

.hero video {
   width: 100%;
   
}

.flex-container-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#logo {
    display: none;
}

.flex-item-2 {
    width: 50%;
    height: auto;
    margin: 1rem;
    
}

.main {
    background-image: url('./images/gradient.jpg');
    padding: 1rem;
    color: white;
}

.main p {
    text-align: center;
    color: white;
}

.main a {
    color: #DF2935;
}

.para p {
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.3rem;
}


.about-us {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.flex-item-3 {
    width: 30%;
    height: auto;
    padding: 5%;
    color: white;
}

.para {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.flex-item-3 p {
    margin-bottom: 1rem;
}

.content {
    text-align: center;
}

.content h2 {
    color: #DF2935;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

.content h3 {
    font-size: 1.5rem;
}

.champs {
    display: flex;
    justify-content: center;
}

.champs img {
    width: 60%;
    margin: 1rem;
    margin-bottom: 3rem;
}

.highlights {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.highlights video {
    width: 33%;
    border: 5px solid white;
    border-bottom: 20px solid white;
}

.footer {
    background-color: white;
    padding: 1%;
}

.footer p {
    text-align: center;
}

.contact-info {
    margin-top: 4rem;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    flex-wrap: wrap
}

.contact-links a {
    text-transform: none;
    font-weight: normal;
}

.contact-links img {
    margin-right: .5rem;
}

.contact-links span {
    letter-spacing: .1rem;
}

.instagram, .facebook, .email {
    display: flex;
    align-items: center;
}

.copyright {
    color: black;
}

.schedule-back {
    background-image: url(./images/sf\ city.jpg);
    background-size: cover;
}

.schedule {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.schedule h1 {
    text-align: center;
    color: black;
}

.schedule img {
   width: 33%;
   height: auto;
   
}


.flyer {
    box-shadow: #8a8d8f;
}

/* video page */
.gallery {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    margin: 1%;
}

.gallery video {
    width: 100%;
    height: auto;
}


@media (max-width: 900px) {
    .schedule {
        flex-direction: column;
        justify-content: center;
        padding: 5%;
    }

    .schedule img {
        width: 100%;
        height: auto;
    }

    .header {
        overflow: hidden;
        text-align: center;
    }

    .flex-container {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .flex-container p {
        display: inline;
    }

    #hamburger {
        display: block;
        margin-bottom: 1rem;
    }

    .navi {
        font-size: .8rem;
        display: none;
        
    }

    .about-us {
        flex-direction: column;
        justify-content: center;
    }

    .flex-item-3 {
        width: 60%;
    }

    .about-us img {
        margin-bottom: 10%;
    }

    .flex-container-2 {
        flex-direction: column;
        justify-content: center;
    }
    
    .flex-item-2 {
        width: 85%;
        height: auto;
        margin: 1rem;
        flex: 1;
    }

    .footer {
        padding: 2%;
    }

    .contact-links {
        flex-direction: column;
        margin-bottom: 1rem;
        justify-content: center;
        align-content: center;
    }

    .contact-links div {
        margin-bottom: 1rem;
    }
}
/*
@media (orientation: landscape) {
    .schedule {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .schedule img {
        width: 30%;
        height: auto;
    }
} */